body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #0F0F0F;
    color: #F2F2F2;
}

h2{
    background-color: #1A1A1A;
    padding: 15px;
    border-radius: 5px;
    color: #CEFFF4;
    /* margin-right: 20px - gap is still experimental in flexbox */
    margin: 0px;
    /* Makes the item iself fills all the available space inside the flexbox. The entered value will be interpreted as frs */
    flex-grow: 1;
    /* Sets a default size before filling the available space */
    flex-basis: 0; /* auto = respect the content size - 0 = equalize the items' size for each row - 200px = make items have at least 200px. Usually we're gonna use that with 0*/
    /* Defines if the item's content may be wrapped. 0 = it can't. 1 = it can. We usually use 1*/
    flex-shrink: 1;
    /* Because of those values that we're gonna use most of the time, we can just use "flex: 1", that is an alias for flex-grow: 1; flex-basis: 0; flex-shring: 1; */
    /* flex: 1 */
}

.box{
    /* Creates a flexbox div */
    display: flex;
    gap: 20px;
    /* Makes items break the line instead of their content */
    flex-wrap: wrap;
    /* Justify, align or place just like in grid */
    /* place-content: center; */

}